Package: com.shivadoc.titler
Name: Titler
Depends: mobilesubstrate, com.atlas.messagerenamer
Architecture: iphoneos-arm
Description: Makes the title of group messages in the navigation bar the same as the name set in MessageRenamer.
Maintainer: SHIVADOC <shivadoc15@gmail.com>
Author: SHIVADOC <shivadoc15@gmail.com>
Section: Tweaks
Version: 0.0.1-10+debug
Installed-Size: 72
