Package: me.akeaswaran.propic
Name: ProPic
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: View Instagram profile pictures in full-resolution.
Maintainer: SHIVADOC <shivadoc15@gmail.com>
Author: SHIVADOC <shivadoc15@gmail.com>
Section: Tweaks
Version: 0.1-2+debug
Installed-Size: 204
