Package: me.akeaswaran.propic
Name: ProPic
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: View Instagram profile pictures in full-resolution.
Depiction: http://akeaswaran.me/repo/depictions/propic.html
Maintainer: SHIVADOC <shivadoc15@gmail.com>
Author: SHIVADOC <shivadoc15@gmail.com>
Section: Tweaks
Version: 0.1-3+debug
Installed-Size: 204
